body{
    margin:auto;
    background-color:#f1cdd3
}
/*header css*/
#header{
    height:60px;
    width:100%;
    background:#d2a08c
}

#logo{
    float:left;
    font-size:30px;
    color:#13648c;
    font-weight: bold;
    margin-left:1%;
    margin-top:10px;
}

#social{
    float:right
}

#menu {
    float:left;
    margin-left:1%;
    margin-top:10px;
    font-size:20px
}
.slogo{
    height:50px;
    width:50px;
}

a{
    text-decoration:none
}
/*** Main Css*/
#container{
    height:600px;
    width:90%;
    margin-left: 4%;
    margin-top: 2%;
}

#imgDiv{
    height:400px;
    width:45%;
    float: left;
}

#imgDiv>img{
    height:400px;
    width:100%; 
}
#content{
    height:500px;
    width:52%;
    margin-left: 2%;
    float: left;
    margin-top: -2%;
}
.fa-star{
    font-size:20px
}

.checked{
    color:green;
    
}
.dicons{
    display: inline-block;
    margin-left:2%;
}
.stock{
    font-size:33px;
    color:green
}

.btn{
    height:40px;
    width:200px;
    font-size:20px;
    color:white
}

.btn-checkout{
    background-color: green;
}
.btn-atc{
    background-color: teal;
}
/*** footer Css*/
#footer{
    display: inline-block;
    margin-top: 2%;
    width:100%;
    background-color:d2a08c;
    height:328px;
}
.footerSec{
    height:260px;
    width:32%; 
    float: left;

    text-align: center;
    color: white
}
 ul > li {
    list-style: none !important;
    font-size:25px;
 }

.secLast{
    border: none;
}